:root {
  --header-height: 7vh;
  --main-height: 93vh;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font: inherit; */
}

/* html {
  color-scheme: dark light;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: aliceblue;
  min-height: 100vh;
}

img,
picture,
svg,
video {
  /* display: block; */
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  min-height: var(--header-height);
}

main {
  min-height: var(--main-height);
}

.textOverflow-ellipsis {
  margin-top: 1rem;
  font-weight: 700;
  white-space: nowrap;
  width: 282px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0.2rem;
}
